@{
    ViewBag.Title = "Giorno";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<ul class="list-group">
    <li class="list-group-item">
        <b>Data</b>       @ViewBag.data
    </li>
    <br />
    <br />
    <li class="list-group-item">
        <b>Pranzo</b>&nbsp;&nbsp;&nbsp;&nbsp;

        <a class="btn btn-default" type="button" href="~/Home/Dettaglio?i=1">Dettaglio</a> 
    </li>
    <br />
    <br />
    <li class="list-group-item">
        <b>Cena</b>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-default" type="button" href="~/Home/Dettaglio?i=2">Dettaglio</a>
    </li>
</ul>